<div class="mt-4">
    <a href="/user/stored/posts">Quay lại</a>
    <h3>Bài đăng của tôi</h3>
    <table class="table mt-4">
        <thead>
            <tr>
                <th scope="col">STT</th>
                <th scope="col">Tiêu đề</th>
                <th scope="col">Thời gian xóa</th>
                <th scope="col" colspan="2"></th>
            </tr>
        </thead>
        <tbody>
            {{#each post}}
            <tr>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.title}}</td>
                <td>{{this.deleteAt}}</td>
                <td><a href="" class="btn btn-link btn-restore" data-id="{{this._id}}">Khôi phục</a></td>
                <td><a href="" class="btn btn-link" data-toggle="modal" data-id="{{this._id}}"
                        data-target="#delete-post-modal">Xóa vĩnh viễn</a></td>
            </tr>
            {{else}}
            <tr>
                <td colspan="6" class="text-center">
                    Thùng rác trống.
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

<form name="delete-form" method="POST"></form>
<form name="restore-form" method="POST"></form>

{{!-- Confirm delete post --}}
<div id="delete-post-modal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Xóa bài viết</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Hành động này không thể khôi phục. Bạn vẫn muốn xóa bài viết này?</p>
            </div>
            <div class="modal-footer">
                <button id="btn-delete-post" type="button" class="btn btn-danger">Xóa vĩnh viễn</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var postId;
        var deleteForm = document.forms['delete-form'];
        var restoreForm = document.forms['restore-form'];
        var btnDeletePost = $('#btn-delete-post');
        var btnRestore = $('.btn-restore')

        $('#delete-post-modal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            postId = button.data('id');
        })

        btnDeletePost.click(function () {
            console.log("delete")
            deleteForm.action = '/posts/' + postId + '/destroy?_method=DELETE';
            deleteForm.submit();
        });

        btnRestore.click(function (e) {
            e.preventDefault();
            var postId = $(this).data('id');
            restoreForm.action = '/posts/' + postId + '/restore?_method=PATCH';
            restoreForm.submit();
        });
    });
</script>